name: CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: [main]

env:
  GO_VERSION: "1.24"

jobs:
  ci:
    runs-on: ubuntu-latest
    container:
      image: rockylinux:8
    steps:
      - name: Install dependencies
        run: |
          dnf install -y git gcc make

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check format
        run: make fmt-check

      - name: Build
        run: make

      - name: Test
        run: make test

      - name: Run binary
        run: ./go-runner-test
